/* Styles de base */ 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}

/* Header avec le logo */
header {
    background-color: #ffdd57;
    padding: 15px;
    text-align: center;
}

.logo {
    width: 150px;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #009688;
}

/* Sections */
section {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 900px;
}

h1, h2 {
    color: #4CAF50;
}

/* Photos dans la section accueil */
.photos {
    display: flex;
    overflow-x: auto; /* Permet le défilement horizontal */
    white-space: nowrap; /* Évite les retours à la ligne */
    margin-top: 20px;
}

.photos img {
    width: 200px; /* Ajustez la taille des images */
    height: auto; /* Gardez les proportions */
    border-radius: 10px;
    margin-right: 10px; /* Espace entre les images */
}

/* Section équipe */
.team-members {
    display: flex;
    justify-content: space-around;
}

.member {
    text-align: center;
    margin: 10px;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.member p {
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    background-color: #2196F3;
    color: white;
    padding: 10px;
}

/* Responsive design */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .team-members {
        flex-direction: column;
    }

    .carousel img {
        width: 80%;
    }

    .member {
        margin-bottom: 20px;
    }
}

/* Table pour les frais de scolarité */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center; /* Centre le texte dans la table */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Footer */
footer {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

/* Responsive design */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .photos {
        flex-direction: column;
    }

    .photos img {
        width: 90%;
        margin: 10px auto;
    }
}
